<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<link rel="stylesheet" href="/css/partials.css">
<link rel="stylesheet" href="/css/register.css">
<%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
<main>
	<br><br>
	<div class="form-container">
		<h2 class="register-title">Formulario de creación de productos</h2>
			<!-- el enctype es fundamental para Multer-->
			<form class="register-form" action="/products" method="POST" enctype="multipart/form-data">				
					<div class="form-div">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Cordero  Piel de Lobo" class="form-input">
					</div>
					<div class="form-div">
						<label for="bodega" class="form-label">Bodega:</label>
						<input type="bodega" id="bodega" name="bodega" placeholder="Ej: Etchart" class="form-input">
					</div>
					<div class="form-div">
						<label for="varietal" class="form-label">Varietal:</label>
						<input type="text" id="varietal" name="varietal" placeholder="Ej: Tinto" class="form-input">
					</div>
					<div class="form-div">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="number" id="price" name="price" placeholder="Ej: 1000" class="form-input">
					</div>
					<div class="form-div">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="number" id="discount" name="discount" min="0" max="1" step="0.01" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="form-div">
						<label for="image" class="form-label">Foto:</label>
						<input type="file" id="image" accept=".png, .jpeg, .jpg" name="image" placeholder="Ingrese una foto"  multiple required class="form-input">
					</div>
					<div class="form-div">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="Tinto">Tinto</option>
							<option value="Blanco">Blanco</option>
							<option value="Rosado">Rosado</option>
							<option value="Espumante">Espumante</option>
						</select>
					</div>
					<div class="form-div">
						<label for="description" class="form-label">Descripción:</label>
						<textarea name="description" id="description" class="form-input"></textarea>
					</div>
					<div class="form-buttons">
						<button type="submit">Guardar producto</button>
						<button type="reset" class="reset-button">Limpiar</button>
					</div>
			</form>
			<br><br><br>
	</div>
	<br>
	<br>
        <br>
</main>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>