<footer>
<section>
    <h2>INSTITUCIONAL</h2>
   <p>¿Quienes somos?</p>
</section>
<section class="ocultar-mobile">
    <h2>PRODUCTOS</h2>
   <p>Bodegas<br>Categorías</p>
</section>
<section>
    <h2>CONTACTOS</h2>
   <p>Whatsapp: 1165104040<br>Email: ventas@finwines.com</p>
</section> 
<section>
    <h2>SEGUINOS</h2>
    <i class="fa-brands fa-instagram"></i>
</section>
</footer>