<header>
        <div class="top-header">
            <a href="/">
            <img src="/images/Logo.png" id="logo">
            </a>
            <form class="form" action="#" method="GET">
                <input type="text" name="search" placeholder="  Buscar productos, marcas y más">
                <button type="submit"> <i class="fa fa-search"></i></button>
            </form>
       
        <a class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </a>
            <div class="clase-iconos-header">
                <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                <i class="fa-brands fa-instagram"></i>
                <a href="/user/login"><i class="fa-solid fa-user-large"></i></a>
                <!--<a href="/" ><i class="fa-solid fa-house"></i></a>-->
            </div>
    </div>        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">BODEGAS</a></li>
                <li><a href="#">TINTOS</a></li>
                <li><a href="#">BLANCOS</a></li>
                <li><a href="#">ROSADOS</a></li>
                <li><a href="#">ESPUMANTES</a></li>
                <li><a href="/products/create">Admin</a></li>
            </ul>
        
        </nav> 
    </header>